---
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout
  title="Projects - ARV"
  description="See all the project created by Anshul Raj Verma"
>
  <div class="mx-auto md:max-w-2/3 w-10/12 mt-5">
    <h1 class="font-bold text-3xl text-center">Projects</h1>
  </div>
</BaseLayout>
