---
import { type CollectionEntry, getCollection, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import NestedPagesList from "@/components/nested-pages-list.astro";
import Prose from "@/components/starwind/prose";
import BaseLayout from "@/layouts/base-layout.astro";

interface Props {
  project: CollectionEntry<"projects">;
  nestedPages: {
    id: string;
    data: CollectionEntry<"projects">["data"];
  }[];
}

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  // Filter nested pages
  const nestedPages = projects
    .filter((project) => {
      const base = project.id.split("/")[0];
      if (project.id === base) {
        return true;
      }
      if (project.id.includes("/") && project.id.startsWith(base)) {
        return true;
      }
      return false;
    })
    .map((p) => ({ id: p.id, data: p.data }));

  return projects.map((project) => ({
    params: { slug: project.id },
    props: { project, nestedPages },
  }));
}) satisfies GetStaticPaths;

const { project, nestedPages } = Astro.props as Props;
const { Content } = await render(project);
---

<BaseLayout
  title={`${project.data.title} - ARV`}
  description={project.data.description}
>
  <div
    class="flex flex-col flex-1 mx-auto md:max-w-3/5 items-center justify-center px-4 py-8"
  >
    <div>
      <p class="text-bold text-2xl text-center mb-4">Related Pages</p>
      <NestedPagesList
        pages={nestedPages}
        class="border rounded border-outline p-4"
      />
    </div>

    <article class="mt-10 w-full md:min-w-10/12">
      <Prose>
        <Content />
      </Prose>
    </article>
  </div>
</BaseLayout>
